{% extends "base.html" %}

{% block content %}

<h1>Change your password</h1>
{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'password_change' %}">
  {% csrf_token %}
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      id={{ form.old_password.id_for_label }}
      name={{ form.old_password.html_name }}
      placeholder="{{ form.old_password.label }}"
    >
  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      id={{ form.new_password1.id_for_label }}
      name={{ form.new_password1.html_name }}
      placeholder="{{ form.new_password1.label }}"
    >
  </div>
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      id={{ form.new_password2.id_for_label }}
      name={{ form.new_password2.html_name }}
      placeholder="{{ form.new_password2.label }}"
    >
  </div>
  <button type="submit" class="btn btn-primary">Change Password</button>
</form>

{% endblock %}

