h2 {
  margin: .5em;
}

.card {
  margin-top: 1em;
  background-color: #fdfdfd;
  border-radius: .5em;
  border-bottom: solid 1px #333333;
  text-align: center;
}

@media screen and (min-width: 40em) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    flex: 0 1 calc(50% - 1em);
 }
}

@media screen and (min-width: 60em) {
  .card {
    flex: 0 1 calc(25% - 1em);
  }
}


@media screen and (min-width: 52em) {
    .centered {
      width: calc(100% - 2em);
      margin: 0 auto;
    }
}
