{% extends "base.html" %}

{% block content %}

<h1 class="display">Register</h1>

{% if form.errors %}
  <p>There was an error with your form. Please try again.</p>
{% endif %}

<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      id={{ form.username.id_for_label }}
      name={{ form.username.html_name }}
      placeholder="Enter Username"
    >
  </div>
  <div class="form-group">
    <input
      type="password"
      class="form-control"
      id={{ form.password1.id_for_label }}
      name={{ form.password1.html_name }}
      placeholder="Enter Password"
    >
  </div>
 <div class="form-group">
    <input
      type="password"
      class="form-control"
      id={{ form.password2.id_for_label }}
      name={{ form.password2.html_name }}
      placeholder="Repeat Password"
    >
  </div>

  <button type="submit" class="btn btn-primary">Register</button>
{% endblock %}
